<%= form_for @hop do |f| %>
  <% if @hop.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@hop.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @hop.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :hops_name %><br>
    <%= f.text_field :hops_name, :class => "form-control" %>
  </p>
 
  <p>
    <%= f.label :hops_grown %><br>
    <%= f.text_area :hops_grown, :class => "form-control" %>
  </p>
 
 <p>
    <%= f.label :hops_info %><br>
    <%= f.text_area :hops_info, :class => "form-control" %>
  </p>
  <p>
    <%= f.label :hops_use %><br>
    <%= f.text_area :hops_use, :class => "form-control" %>
  </p>
  <p>
    <%= f.label :hops_example %><br>
    <%= f.text_area :hops_example, :class => "form-control" %>
  </p>
  <p>
    <%= f.label :hops_aau_low %><br>
    <%= f.text_area :hops_aau_low, :class => "form-control" %>
  </p>
  <p>
    <%= f.label :hops_aau_high %><br>
    <%= f.text_area :hops_aau_high, :class => "form-control" %>
  </p>
  <p>
    <%= f.label :hops_sub %><br>
    <%= f.text_area :hops_sub, :class => "form-control" %>
  </p>


  <p>
    <%= f.submit "Add Hops", :class =>'btn btn-info' %>
  </p>
<% end %>