<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Listing articles</h1>
  <p><%= link_to "Frontpage", root_path, class: "btn btn-primary btn-lg" %></p>
</div>
<% if can? :create, @article %>
<button type="button" class="btn btn-default"> <%= link_to 'Create new article', new_article_path %></button>
<% end %>
<hr>
<div class="row">
<p>Click the links below to expand the articles.</p>
  <% @article.each do |article| %>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= "article#{article.id}" -%>">
          <%= article.title %>
        </a>
        </h4>
      </div>
      <div id="collapse<%= "article#{article.id}" -%>" class="panel-collapse collapse">
        <div class="panel-body">
          <%= article.text %>
          <div class="lg-12"><%= link_to 'Show', article_path(article) %>
            <% if can? :update, @article %>
            <%= link_to 'Edit', edit_article_path(article) %>
            <% end %>
            <% if can? :destroy, @article %>
            <%= link_to 'Destroy', article_path(article),
            method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
