      <!-- Main jumbotron for a primary marketing message or call to action -->

      <div class="jumbotron">
        <h1>Yeast</h1>
        <p><%= link_to "Frontpage", root_path, class: "btn btn-primary btn-lg" %></p>
      </div>

    <div class="row">
        <div class="col-md-8">
          <% if can? :create, @yeast %>
       <button type="button" class="btn btn-default"> <%= link_to 'Add yeast', new_yeast_path %></button>
       </div>
     <br>
       <div class="col-md-6" style="margin-top:10px;">
      <%= form_tag import_yeasts_path,  multipart: true do %>
  	  <%= file_field_tag :file %>
      <br>
  	  <%= submit_tag "Import", :class =>'btn r-button' %>
      <% end %>
    <% end %>
      </div>
    </div>
     <hr>



<div class="row">
          <div class="col-md-12">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Flocc.</th>
                <th>Atten.</th>
                <th>Alcohol Tolerance</th> <!--  Flocculation    Attenuation -->
                <th>Type</th>
                <th>Form</th>
                <th>Lab & prod ID</th>
                <th>Min-Max temp</th>
                <th>Notes</th>
                <th>Best for</th>
                <th>Max reuse</th>
              </tr>
            </thead>
  
            <tbody class="table-hover">
              <tr>
                  <% @yeast.each do |yeast| %>

				<td><%= yeast.id %></td>
				<td><%= yeast.yeast_name %></td>
				<td><%= yeast.yeast_floc %></td>
				<td><%= yeast.yeast_atten %></td>
				<td><%= yeast.yeast_tolerance %></td>
				<td><%= yeast.yeast_type %></td>
        <td><%= yeast.yeast_form %></td>
				<td><%= yeast.yeast_lab %> [<%= yeast.yeast_prod_id %>]</td>
        <td><%= yeast.yeast_min_temp %> - <%= yeast.yeast_max_temp %></td>
        <td><%= yeast.yeast_notes %></td>
        <td><%= yeast.yeast_best_for %></td>
        <td><%= yeast.yeast_max_reuse %></td>
              </tr>
          <% end %>

            </tbody>
          </table>

        </div>
</div>




