<%= form_for @malt do |f| %>
  <% if @malt.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@malt.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @malt.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :malt_name %><br>
    <%= f.text_field :malt_name, :class => "form-control" %>
  </p>
 
  <p>
    <%= f.label :malt_lovibond %><br>
    <%= f.text_area :malt_lovibond, :class => "form-control" %>
  </p>
 
 <p>
    <%= f.label :malt_info %><br>
    <%= f.text_area :malt_info, :class => "form-control" %>
  </p>
  <p>
    <%= f.label :malt_category %><br>
    <%= f.text_area :malt_category, :class => "form-control" %>
  </p>
  <p>
    <%= f.label :malt_yield %><br>
    <%= f.text_area :malt_yield, :class => "form-control" %>
  </p>
  <p>
    <%= f.label :malt_origin %><br>
    <%= f.text_area :malt_origin, :class => "form-control" %>
  </p>
  <p>
    <%= f.label :malt_supplier %><br>
    <%= f.text_area :malt_supplier, :class => "form-control" %>
  </p>
  <p>
    <%= f.label :malt_type %><br>
    <%= f.text_area :malt_type, :class => "form-control" %>
  </p>

  <p>
    <%= f.submit "Add malts", :class =>'btn btn-info' %>
  </p>
<% end %>

