<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Beer Ruby" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Beer Ruby" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" id="sourcecode">
    $('.dropdown-toggle').click(function() {
    var location = $(this).attr('href');
    window.location.href = location;
    return false;
    });
    </script>
  </head>
  <body>
      <%= render 'layouts/navigation' %>
    <div class="container">

      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
              <%= value %>
        </div>
      <% end %>
<!--       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p> -->

      <%= render 'layouts/messages' %>
      <%= yield %>
      

      <hr class="featurette-divider">
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2014 dev.null, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>
	</div>
      <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </body>
</html>
